.hero {
  background-color: $VeryLightGray;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(medium) {
      min-height: 25rem;
      background-position: center 60%;
    
    }

    @include breakpoint-up(large) {
      flex: 3;
      order: 2;
      min-height: 40.9375rem;
      background-image: none;
     
    }

    &::after {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      background-size: 95%;
      background-repeat: no-repeat;
      background-position: center bottom;

      @include breakpoint-up(medium) {
        background-size: 52%;
        
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 95%;
        background-position: center 150%;
        left: 22%;
      }
    }
    &::before {
      @include breakpoint-up(large) {
        content: "";
        height: 100%;
        // width: 100%;
        position: absolute;
        
        background-size: 95%;
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }
  }
  &__text {
    text-align: center;

    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
  }
}
